* {
  box-sizing: border-box;
}

body {
  color: #5b5b5b;
}

header {
  padding: 10px;
}

.heading {
  padding: 5px 20px;
  border-bottom: 5px solid #5b5b5b;
}

.flex {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
}

.icon {
  border-width: 2px;
  margin-top: 16px;
}

.follow {
  border: 1px solid #50e3c2;
}

.follow:hover {
  background-color: transparent;
  border: 1px solid #5b5b5b;
}

.unfollow {
  margin-top: 0;
}

.unfollow:hover {
  background-color: transparent;
  border: 1px solid #50e3c2;
}

.uploader {
  margin-top: 10px;
}

#shout {
  height: 100px;
}

.followers {
  display: inline-block;
}

.avatar {
  width: 80px;
  display: inline-block;
  margin: 0 10px;
  height: 70px;
}

.sign {
  border: 3px solid #50e3c2;
}

.button {
  background-color: #50e3c2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.button:hover {
  background-color: #5b5b5b;
  color: #50e3c2;
}

#forgot {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btncolor {
  color: white;
  background: #50e3c2;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btncolor:hover {
  color: #5b5b5b;
}

.btngray {
  color: white;
  background: #5b5b5b;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btngray:hover {
  color: #50e3c2;
}

.btn-default + .btn-block {
  margin-top: 0px;
}

#big_logo img {
  width: 60%;
  margin: 0 20%;
}

.heading_buttons {
  margin-left: 10px;
}

.panel-body {
  border: 1px solid #ddd;
  margin: 5px 0;
}

.user_name {
  padding: 0;
}

.user_name p {
  display: inline-block;
  height: 30px;
  margin: 10px 0;
}

.chirp_body {
  word-wrap: break-word;
}

.hidden {
  display: none;
  margin-top: 0px;
}

.follower_panel {
  margin-top: 5px;
  padding: 5px;
  margin-right: 5px;
}

.follower_panel .follower_text {
  padding: 5px 0;
}
