$green: #50e3c2;
$gray: #5b5b5b;

* { box-sizing: border-box; }
body { color: $gray; }
header {
    padding: 10px;
}
.heading {
    padding: 5px 20px;
    border-bottom: 5px solid $gray;
}
.flex {
    display: flex;
    align-items: center;
}
.logo {
    width: 70px;
}
.icon {
    border-width: 2px;
    margin-top: 16px;
}
.follow {
    &:hover {
        background-color: transparent;
        border: 1px solid $green;
    }
}
.uploader {
    margin-top: 10px;
}
#shout {
    height: 100px;
}
.followers {
    display: inline-block;
}
.avatar {
    width: 80px;
    display: inline-block;
    margin: 0 10px;
    height: 70px;
}
.sign {
    border: 3px solid $green;
}
.button {
    background-color: $green;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    &:hover {
        background-color: $gray;
        color: $green;
    }
}
#forgot {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btncolor {
    color: white;
    background: $green;
    margin-bottom: 10px;
}
#big_logo {
    img {
        width: 60%;
        margin: 0 20%;
    }
}
.heading_buttons {
    margin-left: 10px;
}
.users {
    margin: 5px;
}
.chirp_body {
    word-wrap: break-word;
}
